<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>frReport</servlet-name>
        <servlet-class>Report_servelets.frReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MasterServletData</servlet-name>
        <servlet-class>Master_Servlets.MasterServletData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServletDate</servlet-name>
        <servlet-class>Master_Servlets.CustomerServletDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDataRetrive</servlet-name>
        <servlet-class>Data_Retrive_Servlets.CustomerDataRetrive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDCentries</servlet-name>
        <servlet-class>Transaction_Servelet.PDCentries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdditionalDayFleUpload</servlet-name>
        <servlet-class>Transaction_Servelet.AdditionalDayFleUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnFileUpload</servlet-name>
        <servlet-class>Transaction_Servelet.ReturnFileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Master_Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Master_Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuControler</servlet-name>
        <servlet-class>Master_Servlets.MenuControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HolidayFileUpload</servlet-name>
        <servlet-class>Transaction_Servelet.HolidayFileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>txn_data_retrive</servlet-name>
        <servlet-class>Data_Retrive_Servlets.txn_data_retrive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDCBukUpload</servlet-name>
        <servlet-class>Transaction_Servelet.PDCBukUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadGEFU</servlet-name>
        <servlet-class>Transaction_Servelet.downloadGEFU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DayEndProcess</servlet-name>
        <servlet-class>Process_Servlets.DayEndProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadDEPOSITSLIPS</servlet-name>
        <servlet-class>Transaction_Servelet.downloadDEPOSITSLIPS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>report_data_extract</servlet-name>
        <servlet-class>Report_servelets.report_data_extract</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadTodayBookedDEPOSITSLIPS</servlet-name>
        <servlet-class>Transaction_Servelet.downloadTodayBookedDEPOSITSLIPS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadUAUTHDATA</servlet-name>
        <servlet-class>Transaction_Servelet.downloadUAUTHDATA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadCHQSENDINGDATA</servlet-name>
        <servlet-class>Transaction_Servelet.downloadCHQSENDINGDATA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadPORTFOLIOREPORT</servlet-name>
        <servlet-class>Transaction_Servelet.downloadPORTFOLIOREPORT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadChequeVerficationReport</servlet-name>
        <servlet-class>Transaction_Servelet.downloadChequeVerficationReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>TEST.download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test_serv</servlet-name>
        <servlet-class>TEST.test_serv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MasterServletData</servlet-name>
        <url-pattern>/MasterServletData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServletDate</servlet-name>
        <url-pattern>/CustomerServletDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDataRetrive</servlet-name>
        <url-pattern>/CustomerDataRetrive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDCentries</servlet-name>
        <url-pattern>/PDCentries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdditionalDayFleUpload</servlet-name>
        <url-pattern>/AdditionalDayFleUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnFileUpload</servlet-name>
        <url-pattern>/ReturnFileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuControler</servlet-name>
        <url-pattern>/MenuControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HolidayFileUpload</servlet-name>
        <url-pattern>/HolidayFileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>txn_data_retrive</servlet-name>
        <url-pattern>/txn_data_retrive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDCBukUpload</servlet-name>
        <url-pattern>/PDCBukUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadGEFU</servlet-name>
        <url-pattern>/downloadGEFU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DayEndProcess</servlet-name>
        <url-pattern>/DayEndProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadDEPOSITSLIPS</servlet-name>
        <url-pattern>/downloadDEPOSITSLIPS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>report_data_extract</servlet-name>
        <url-pattern>/report_data_extract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadTodayBookedDEPOSITSLIPS</servlet-name>
        <url-pattern>/downloadTodayBookedDEPOSITSLIPS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadUAUTHDATA</servlet-name>
        <url-pattern>/downloadUAUTHDATA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadCHQSENDINGDATA</servlet-name>
        <url-pattern>/downloadCHQSENDINGDATA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadPORTFOLIOREPORT</servlet-name>
        <url-pattern>/downloadPORTFOLIOREPORT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadChequeVerficationReport</servlet-name>
        <url-pattern>/downloadChequeVerficationReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test_serv</servlet-name>
        <url-pattern>/test_serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frReport</servlet-name>
        <url-pattern>/frReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/pages/examples/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/pages/examples/500.jsp</location>
    </error-page>
</web-app>
